soap-ws/jaxb-generate-stubs/jaxb-codehaus-to-java/jaxb-codehaus-jaxws-wsdl-to-java2/src/main/resources/product.wsdl

<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.delte.com/products" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.delte.com/products" name="productCategoryService">
    <types>
        <xs:schema xmlns:tns="http://www.delte.com/products" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://www.delte.com/products">
            <xs:element name="getProductById" type="tns:getProductById"/>
            <xs:element name="getProductByIdResponse" type="tns:getProductByIdResponse"/>
            <xs:element name="getProducts" type="tns:getProducts"/>
            <xs:element name="getProductsResponse" type="tns:getProductsResponse"/>
            <xs:complexType name="getProducts">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getProductsResponse">
                <xs:sequence>
                    <xs:element name="products" type="tns:product" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="product">
                <xs:sequence>
                    <xs:element name="productId" type="xs:int"/>
                    <xs:element name="productName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getProductById">
                <xs:sequence>
                    <xs:element name="productIdR" type="xs:int" form="qualified" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getProductByIdResponse">
                <xs:sequence>
                    <xs:element name="getProductByIdResponse" type="tns:product" form="qualified" minOccurs="0"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </types>
    <message name="getProductById">
        <part name="parameters" element="tns:getProductById"/>
    </message>
    <message name="getProductByIdResponse">
        <part name="parameters" element="tns:getProductByIdResponse"/>
    </message>
    <message name="getProducts">
        <part name="parameters" element="tns:getProducts"/>
    </message>
    <message name="getProductsResponse">
        <part name="parameters" element="tns:getProductsResponse"/>
    </message>
    <portType name="ProductCategoryServicePortType">
        <operation name="getProductById">
            <input wsam:Action="getProductByIdAction" message="tns:getProductById"/>
            <output wsam:Action="http://www.delte.com/products/ProductCategoryServicePortType/getProductByIdResponse" message="tns:getProductByIdResponse"/>
        </operation>
        <operation name="getProducts">
            <input wsam:Action="getProductsAction" message="tns:getProducts"/>
            <output wsam:Action="http://www.delte.com/products/ProductCategoryServicePortType/getProductsResponse" message="tns:getProductsResponse"/>
        </operation>
    </portType>
    <binding name="productCategoryServicePortBinding" type="tns:ProductCategoryServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="getProductById">
            <soap:operation soapAction="getProductByIdAction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getProducts">
            <soap:operation soapAction="getProductsAction"/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="productCategoryService">
        <port name="productCategoryServicePort" binding="tns:productCategoryServicePortBinding">
            <soap:address location="http://localhost:8080/products-api/productCategoryService"/>
        </port>
    </service>
</definitions>